@media screen and (max-width: 2000px){
  .component_text_extra {
    font-size: 1.5rem;
  }
  .component_title_main_extra {
    font-size: 3rem;
  }
  .component_title_extra {
    font-size: 4rem;
  }
  .component_more_button {
    font-size: 1.5rem;
  }

  .component_title_modal {
    font-size: 2rem;
  }
  .component_x {
    width: 35px;
    height: 35px;
  }
  .component_text_modal {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .layout_bottom_modal {
    font-size: 1.25rem;
    height: 50px;
    width: 180px;
  }
  .arrow_modal {
    height: 24px;
    width: 24px;
  }
  .arrow_modal img {
    height: 100%;
    width: 100%;
  }

  #title_banner_main {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .text_more {
    font-size: 1.5rem;
  }
  .container_fig_img {
    width: 850px;
    height: 450px;
  }
  .container_more_infos {
    height: 1800px;
  }
  .banner_more {
    width: 100%;
  }
  .figure_container_more {
    width: 450px;
    margin: 0;
  }
  .title_banner_mini {
    font-size: 1.6rem;
  }
  .text_banner_mini {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 1760px) {
  .component_title_modal {
    font-size: 1.8rem;
  }
  .component_x {
    width: 30px;
    height: 30px;
  }
  .component_text_modal {
    font-size: 1.3rem;
    line-height: 2.3rem;
  }
  .layout_bottom_modal {
    font-size: 1.25rem;
    height: 50px;
    width: 180px;
  }
  .arrow_modal {
    height: 20px;
    width: 20px;
  }
  .arrow_modal img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1750px) {
  #title_banner_main {
    font-size: 2rem;
  }
  .text_more {
    font-size: 1.2rem;
  }
  .container_fig_img {
    width: 600px;
    height: 300px;
  }
  .container_more_infos {
    height: 1500px;
  }
  .banner_more {
    width: 100%;
  }
  .figure_container_more {
    width: 350px;
    margin: 0;
  }
  .title_banner_mini {
    font-size: 1.5rem;
  }
  .text_banner_mini {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}
@media screen and (max-width: 1640px) {
  .component_title_modal {
    font-size: 1.8rem;
  }
  .component_x {
    width: 30px;
    height: 30px;
  }
  .component_text_modal {
    font-size: 1.1rem;
    line-height: 2.1rem;
  }
  .layout_bottom_modal {
    font-size: 1rem;
    height: 40px;
    width: 150px;
  }
  .arrow_modal {
    height: 20px;
    width: 20px;
  }
  .arrow_modal img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1550px) {
  .component_text_extra {
    font-size: 1.25rem;
  }
  .component_title_main_extra {
    font-size: 2rem;
  }
  .component_title_extra {
    font-size: 3rem;
  }
  .component_more_button {
    font-size: 1.25rem;
  }
  .layout_button_extra {
    padding: 0.80rem 4rem;
    font-size: 1rem;
  } 
  .component_svg_extra {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 1450px) {
  .component_title_modal {
    font-size: 1.5rem;
  }
  .component_x {
    width: 25px;
    height: 25px;
  }
  .component_text_modal {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .layout_bottom_modal {
    font-size: 1rem;
    height: 40px;
    width: 140px;
  }
  .arrow_modal {
    height: 20px;
    width: 20px;
  }
  .arrow_modal img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1400px) {
  #title_banner_main {
    font-size: 1.5rem;
  }
  .container_banners {
    gap: 200px;
  }
  .text_more {
    font-size: 1rem;
  }
  .container_fig_img {
    width: 600px;
    height: 350px;
  }
  .container_more_infos {
    height: 1500px;
  }
  .banner_more {
    width: 100%;
  }
  .figure_container_more {
    width: 300px;
    margin: 0;
  }
  .title_banner_mini {
    font-size: 1.2rem;
  }
  .text_banner_mini {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media screen and (max-width: 1250px) {
  .component_title_modal {
    font-size: 1.3rem;
  }
  .component_x {
    width: 20px;
    height: 20px;
  }
  .component_text_modal {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .layout_bottom_modal {
    font-size: 0.9rem;
    height: 35px;
    width: 140px;
  }
  .arrow_modal {
    height: 15px;
    width: 15px;
  }
  .arrow_modal img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  #title_banner_main {
    font-size: 1rem;
  }
  .container_banners {
    gap: 100px;
  }
  .text_more {
    font-size: 0.9rem;
  }
  .container_fig_img {
    width: 400px;
    height: 250px;
  }
  .container_more_infos {
    height: 1300px;
  }
  .banner_more {
    width: 100%;
  }
  .figure_container_more {
    width: 250px;
    margin: 0;
  }
  .title_banner_mini {
    font-size: 0.9rem;
  }
  .text_banner_mini {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
@media screen and (max-width: 1100px) {
  .component_text_extra {
    font-size: 1rem;
  }
  .component_title_main_extra {
    font-size: 1.5rem;
  }
  .component_title_extra {
    font-size: 2.5rem;
  }
  .component_more_button {
    font-size: 1rem;
  }
  .layout_button_extra {
    padding: 0.80rem 3rem;
    font-size: .9rem;
  } 
  .component_svg_extra {
    width: 22px;
    height: 22px;
  }
}
@media screen and (max-width: 1000px) {
  #title_banner_main {
    font-size: 1.2rem;
  }
  .text_more {
    font-size: 0.9rem;
  }
  .container_fig_img {
    width: 400px;
    height: 200px;
  }
  .container_more_infos {
    height: 1200px;
  }
  .banner_more {
    width: 100%;
  }
  .figure_container_more {
    width: 250px;
    margin: 0;
  }
  .title_banner_mini {
    font-size: 0.9rem;
  }
  .text_banner_mini {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .small_more {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 880px) {
  .component_text_extra {
    font-size: 1rem;
  }
  .component_title_main_extra {
    font-size: 1.5rem;
  }
  .component_title_extra {
    font-size: 2rem;
  }
  .component_more_button {
    font-size: .8rem;
    padding: 1rem 3rem;
  }
  .layout_button_extra {
    padding: 0.80rem 2.5rem;
    font-size: .7rem;
  } 
  .component_svg_extra {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 850px) {
  .component_title_modal {
    font-size: 1.2rem;
  }
  .component_x {
    width: 15px;
    height: 15px;
  }
  .component_text_modal {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .layout_bottom_modal {
    font-size: 0.8rem;
    height: 30px;
    width: 130px;
  }
  .arrow_modal {
    height: 15px;
    width: 15px;
  }
  .arrow_modal img {
    height: 100%;
    width: 100%;
  }
  .container_more_infos {
    height: 1200px;
    display: none;
  }
  .layout_more_buttons_container {
    display: none;
  }
  .layout_extra_info {
    height: 100vh;
  }
}
@media screen and (max-width: 785px) {
  .layout_main_container_extra {
    padding: 2rem;
    border-radius: 2rem;
  }
  .component_title_main_extra {
    font-size: 1.3rem;
  }
  .component_text_extra {
    font-size: .9rem;
  }
  .layout_button_extra {
    padding: 0.80rem 1.5rem;
  }
}
@media screen and (max-width: 730px) {
  .component_title_modal {
    font-size: 1rem;
  }
  .component_x {
    width: 15px;
    height: 15px;
  }
  .component_text_modal {
    font-size: 0.65rem;
    line-height: 1rem;
  }
  .layout_bottom_modal {
    font-size: 0.6rem;
    height: 20px;
    width: 110px;
  }
  .arrow_modal {
    height: 12px;
    width: 12px;
  }
  .arrow_modal img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 630px) {
  .component_text_extra {
    font-size: 0.8rem;
  }
  .component_title_main_extra {
    font-size: 1rem;
  }
  .component_title_extra {
    font-size: 2rem;
  }
  .component_more_button {
    font-size: .7rem;
  }
  .layout_button_extra {
    padding: 0.60rem 1.5rem;
    font-size: .6rem;
  } 
  .component_svg_extra {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 530px) {
  .layout_modal {
    width: 60vw;
    left: 23%;
  }
  .component_title_modal {
    font-size: 1rem;
  }
  .component_x {
    width: 15px;
    height: 15px;
  }
  .component_text_modal {
    font-size: 0.65rem;
    line-height: 1rem;
  }
  .layout_bottom_modal {
    font-size: 0.6rem;
    height: 20px;
    width: 110px;
  }
  .arrow_modal {
    height: 12px;
    width: 12px;
  }
  .arrow_modal img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 510px) {
  .component_title_extra {
    font-size: 1.5rem;
  }
  .component_more_button {
    font-size: 0.6rem;
    padding: 0.9rem 1.5rem;
  }
  .layout_button_extra {
    padding: 0.60rem 0.9rem;
  }
  .component_svg_extra {
    width: 12px;
    height: 12px;
  }
  .layout_button_extra {
    font-size: 0.6rem;
    gap: 0.8rem;
  }
}
@media screen and (max-width: 450px){
  .component_text_extra {
    font-size: 0.8rem;
  }
  .component_title_main_extra {
    font-size: .9rem;
  }
  .layout_button_extra {
    font-size: 0.5rem;
    width: 100%;
    padding: .8rem;
    font-size: 0.7rem;
  }
  .layout_container_button_main_extra {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 420px) {
  .layout_modal {
    width: 70vw;
    left: 17%;
  }
  .component_title_modal {
    font-size: 1rem;
  }
  .component_x {
    width: 15px;
    height: 15px;
  }
  .component_text_modal {
    font-size: 0.65rem;
    line-height: 1rem;
  }
  .layout_bottom_modal {
    font-size: 0.6rem;
    height: 20px;
    width: 110px;
  }
  .arrow_modal {
    height: 12px;
    width: 12px;
  }
  .arrow_modal img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .component_title_main_extra {
    font-size: .8rem;
  }
  .layout_extra_info {
    padding: 0;
  }
  .component_text_extra {
    font-size: .7rem;
  }
}
@media screen and (max-width: 350px) {
  .layout_modal {
    width: 70vw;
    left: 17%;
  }
  .component_title_modal {
    font-size: 1rem;
  }
  .component_x {
    width: 15px;
    height: 15px;
  }
  .component_text_modal {
    font-size: 0.58rem;
    line-height: 1rem;
  }
  .layout_bottom_modal {
    font-size: 0.58rem;
    height: 20px;
    width: 100px;
  }
  .arrow_modal {
    height: 12px;
    width: 12px;
  }
  .arrow_modal img {
    height: 100%;
    width: 100%;
  }
}
